<div class="sidebar" >
  <div class="wrapper">
      <div class="logo">
        <span>
          <img
            src="https://e7.pngegg.com/pngimages/751/810/png-clipart-white-and-red-l-logo-symbol-font-league-video-game-symbol-thumbnail.png"
            alt="logo" width="40px" />
          <h4>Logo</h4>
        </span>
      </div>
      <div class="links">
        <div class="link">
          <i class="material-icons">dashboard</i>
          <span><a routerLink="/dashboard">Dashboard</a></span>
        </div>
        <div class="link">
          <i class="material-icons">folder_open</i>
          <span>Classes</span>
        </div>
        <div class="link">
          <i class="material-icons">book</i>
          <span>Resources</span>
        </div>
        <div class="link">
          <i class="material-icons">credit_card</i>
          <span>Learning plan</span>
        </div>
        <div class="link">
          <i class="material-icons">chat_bubble_outline</i>
          <span>Chat</span>
        </div>
        <div class="link">
          <i class="material-icons">settings</i>
          <span>Settings</span>
        </div>
      </div>
 
  </div>
  <div class="box">
    <img src="https://i.redd.it/p4srcp8sbyf71.png" alt="message" />
    <div class="upgrade">
      <p>Upgrade to <b>PRO</b> for more resources</p>
      <button class="btn">Upgrade</button>
    </div>

  </div>
</div>