<div class="rightbar">
    <div class="wrapper">
        <div class="header">
            <h4>Logout</h4>
            <i class="material-icons">dashboard</i>
        </div>
        <div class="logo">
            <span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxLMUn-F7iVawnG3jOLDYm9-QLU0TGMWFkO549J7Na17Z0CyuLR15BiUVFW7LIWpUvKPY&usqp=CAU"
                    alt="logo" width="40px" />
                <h4>Anna Morison</h4>
                <p>Student</p>
            </span>
        </div>
        <div>
            <div class="mid-part">
                <div class="mid-cont1">
                    <div class="mid-cont1-bold">
                        <h5>B2</h5>
                    </div>
                    <div class="mid-cont-text">
                        <h6>English</h6>
                        <p>High Intermediate</p>
                    </div>
                    <progress id="file" value="25" max="100"></progress>
                </div>
            </div>
            <div class="mid-part2">
                <div class="mid-cont2">
                    <div class="mid-cont1-bold2">
                        <h5>C1</h5>
                    </div>
                    <div class="mid-cont-text2">
                        <h6>Spanish</h6>
                        <p>Advanced</p>
                    </div>
                    <progress id="file" value="25" max="100"></progress>
                </div>
            </div>
            <div>
                <div class="remain">
                    <h5>Remainders</h5>
                    <i class="material-icons">notifications</i>
                </div>
                <div class="mid-part">
                    <div class="mid-cont1">
                        <div class="mid-cont1-bold info">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="mid-cont-text">
                            <h6>Eng-Vocabulary test</h6>
                            <p>24 Sep 2019,Friday</p>
                        </div>
                       
                    </div>
                </div>
                <div class="mid-part">
                    <div class="mid-cont1">
                        <div class="mid-cont1-bold mark">
                            <i class="material-icons">markunread</i>
                        </div>
                        <div class="mid-cont-text">
                            <h6>Eng-Send grammer homework</h6>
                            <p>29 Sep 2019, Wednesday</p>
                        </div>
                       
                    </div>
                </div>
                <div class="mid-part">
                    <div class="mid-cont1">
                        <div class="mid-cont1-bold mark">
                            <i class="material-icons">markunread</i>
                        </div>
                        <div class="mid-cont-text">
                            <h6>Spanish-Send essay</h6>
                            <p>05 Oct 2019, Monday</p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>